In [1]:
from collections import OrderedDict
import pandas as pd

from rpy2.robjects.lib.tidyr import DataFrame

from rpy2.robjects.vectors import (StrVector,
                                   IntVector)

from rpy2.robjects import pandas2ri
pandas2ri.activate()

/usr/lib/python3.5/site-packages/rpy2/robjects/lib/tidyr.py:10: UserWarning: This was designed againt tidyr version 0.4.1 but you have 0.6.0
  warnings.warn('This was designed againt tidyr version %s but you have %s' % (TARGET_VERSION, tidyr.__version__))
/usr/lib/python3.5/site-packages/rpy2/robjects/lib/dplyr.py:23: UserWarning: This was designed againt dplyr version 0.4.3 but you have 0.5.0
  warnings.warn('This was designed againt dplyr version %s but you have %s' % (TARGET_VERSION, dplyr.__version__))
/usr/lib/python3.5/site-packages/rpy2/robjects/packages.py:347: UserWarning: The symbol 'src_dt' is not in this R namespace/package.
  warnings.warn("The symbol '%s' is not in this R namespace/package." % name)

In [2]:
df = DataFrame(OrderedDict(
    name=StrVector(("Wilbur", "Petunia", "Gregory",
                    "Wilbur", "Petunia", "Gregory")),
    drug=StrVector(('a', 'a', 'a', 'b', 'b', 'b')),
    heartrate=IntVector((67, 80, 64, 56, 90, 50))))

In [3]:
df

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7f2f0139f108 / R:0x537cff8>
[FactorVector, IntVector, FactorVector]
  drug: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7f2f01a58848 / R:0x52d3fa0>
[       1,        1,        1,        2,        2,        2]
  heartrate: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f2f01a58608 / R:0x53622b0>
[      67,       80,       64,       56,       90,       50]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7f2f01a5b5c8 / R:0x537d040>
[       3,        2,        1,        3,        2,        1]

In [4]:
import rpy2.ipython.html
rpy2.ipython.html.init_printing()

In [5]:
df

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7f2f0139f108 / R:0x537cff8>
[FactorVector, IntVector, FactorVector]
  drug: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7f2f01a58308 / R:0x52d3fa0>
[       1,        1,        1,        2,        2,        2]
  heartrate: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f2f01a58ac8 / R:0x53622b0>
[      67,       80,       64,       56,       90,       50]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7f2f02bbd148 / R:0x537d040>
[       3,        2,        1,        3,        2,        1]

In [9]:
df = df.spread('drug', 'heartrate')
df

R object with classes: ('data.frame',) mapped to:
<DataFrame - Python:0x7f2f010d3e88 / R:0x521e510>
[FactorVector, IntVector, IntVector]
  name: <class 'rpy2.robjects.vectors.FactorVector'>
  R object with classes: ('factor',) mapped to:
<FactorVector - Python:0x7f2f010d3fc8 / R:0x5330278>
[       1,        2,        3]
  a: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f2f010ccf08 / R:0x5330748>
[      64,       80,       67]
  b: <class 'rpy2.robjects.vectors.IntVector'>
  R object with classes: ('integer',) mapped to:
<IntVector - Python:0x7f2f010ccd08 / R:0x5330780>
[      50,       90,       56]